# Created by .ignore support plugin (hsz.mobi)
.idea/.name
.idea/PythonAntiCaptcha.iml
src/python3_anticaptcha/__pycache__/
/.idea/
/python3_anticaptcha.egg-info/

build/

\.vscode/

__pycache__/

src/.coverage

*.xml

dist/

venv/
env/
/.coverage
/docs/_build/
/src/python3_anticaptcha.egg-info/
/coverage/
