name: Sphinx docs

on:
  push:
    branches: [ "release" ]
    paths:
      - '.github/workflows/sphinx.yml'
      - 'src/**'
      - 'docs/**'
      - 'files/**'

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11.6

      - name: Build docs requirements
        run: pip install -U -r docs/requirements.txt

      - name: Build docs
        run: make doc

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build/html/
          force_orphan: true
